div.card-body {
  background-color: #fff0ee;
  padding: 1rem 1.5rem;
}
/*card-body.jiny-padding*/

h5.card-title {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

a.btn {
  background-color: #b10849;
  border-color: #b10849;
}
